$themeBackground: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%) !important;
$cardBackground: #4c4177;
$cardGradientColor: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
$linkColorHover: #00b0ec;
$breadcrumbBackground: #f44336;
$breadcrumbColor: #fff;
