.card {
  &.form-design {
    background-color: rgba(0, 0, 0, 0.4) !important;
    background-image: linear-gradient(to bottom, rgb(74, 58, 58) 0%, #7979ad 100%) !important;

    form {
      padding-top: 20px;

      .short-desc {
        textarea {
          min-height: 70px !important;
          max-height: 80px !important;
        }
      }
    }
  }

  .profile-picture {
    width: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
  }
}

.list {
  padding-bottom: 20px !important;

  .validation-error-message {
    .item-title {
      white-space: normal !important;
      font-size: 12px !important;
    }
  }
}

.filter-area {
  .item-content {
    flex-direction: row-reverse !important;
  }

  .item-inner {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }

  .smart-select {
    .item-inner {
      padding-right: 42px !important;
    }
  }
}

.item-title.item-label {
  height: 20px;
  padding-top: 5px;
}