.card {
  &.form-design {
    background-color: rgba(0, 0, 0, 0.4) !important;
    background-image: linear-gradient(to bottom, rgb(74, 58, 58) 0%, #7979ad 100%) !important;

    form {
      padding-top: 20px;

      .short-desc {
        textarea {
          min-height: 70px !important;
          max-height: 80px !important;
        }
      }
    }
  }

  .profile-picture {
    width: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    padding: 20px;
  }
}

.list {
  padding-bottom: 20px !important;

  .validation-error-message {
    .item-title {
      white-space: normal !important;
      font-size: 12px !important;
    }
  }
}

.filter-area {
  .item-content {
    flex-direction: row-reverse !important;
  }

  .item-inner {
    margin-left: 0 !important;
    padding-right: 0 !important;
  }

  .smart-select {
    .item-inner {
      padding-right: 42px !important;
    }
  }
}

.item-title.item-label {
  height: 20px;
  padding-top: 5px;
}

.about-us {
  &.card {
    background: #c6ffd0;
    background-image: linear-gradient(315deg, #c6b8ff 0%, #c6ffd0 74%) !important;

    .card-header {
      color: #1a203a;
      font-weight: 800 !important;
      font-size: 20px;

    }

    .card-content {
      color: #ffffff !important;
    }

    img {
      max-width: 100% !important;
      max-height: 225px !important;
      height: auto !important;
      width: auto !important;
      display: block;
      margin: 0 auto;
    }
  }
}

.team-members {
  .card-header {
    width: auto !important;
    height: 250px !important;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 !important;

    span {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      //padding: 3px 8px;
      width: 100%;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .card-content-padding {
    padding-top: 5px !important;

    .icon-group {
      text-align: center;
    }
  }

}