@import "_variables";
.md .color-theme-red .navbar,
.md .color-theme-red.navbar {
  background-image: $themeBackground;
  background: transparent;
}
.bm-menu {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

.bm-burger-button {
  z-index: 500 !important;
  height: 20px !important;
  left: 25px !important;
  top: 15px !important;
  width: 25px !important;
}
.bm-burger-bars {
  background: #ffffff !important;
}
.bm-item-list {
  margin-left: 0 !important;
}

.bm-item-list {
  background: #47525d !important;
  border-right: none !important;
  border-left: none !important;

  a {
    color: #fff !important;
  }

  .active {
    background-color: #7f5a83 !important;
  }
}
.bm-item-list > * {
  padding: 10px !important;
}
.bm-item-list a:hover {
  cursor: pointer !important;
}

.md .dialog {
  .dialog-title,
  .dialog-text {
    color: #fff;
    text-align: justify;
  }
}
.md .notification {
  .notification-title {
    color: $breadcrumbBackground !important;
    font-weight: bolder !important;
  }
  .notification-text {
    color: #fff;
  }
}
a.footer {
  position: absolute;
  background-image: $themeBackground;
  background: transparent;
  padding: 10px 5px;
  height: 15px;
  font-weight: bold;
  width: 100%;
  bottom: 0;
  font-size: 10px;
  border-top: none !important;
  justify-content: center;
  color: #fff !important;
}
.text-center {
  display: block !important;
  margin: 0 auto !important;
}

.article-block {
  max-height: 600px;
  display: block;
  overflow-x: auto;
}

.card,
.media-item,
.md .dialog,
.md .notification {
  background-color: $cardBackground !important;
  background-image: $cardGradientColor !important;
}
.card-header img {
  padding-top: 10px;
}

.pull-right {
  float: right !important;
}
.page-content {
  margin-top: 55px !important;
  height: 86% !important;
}

body {
  padding: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

#breadcrumb {
  margin-bottom: 20px;
  line-height: 30px;
  color: $breadcrumbColor;
  padding: 10px;
  // border: 1px solid $red;
  margin: 0 0 30px 0;

  a {
    display: block;
    float: left;
    background: $breadcrumbBackground;
    padding-right: 10px;
    height: 30px;
    margin-right: 31px;
    position: relative;
    text-decoration: none;
    color: $breadcrumbColor;

    &:last-of-type {
      margin-right: 25px;
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -30px;
      border: 15px solid transparent;
      border-color: $breadcrumbBackground;
      border-left-color: transparent;
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -30px;
      border: 15px solid transparent;
      border-left-color: $breadcrumbBackground;
    }

    &:first-of-type {
      padding-left: 15px;

      &:before {
        display: none;
      }
    }

    &:hover {
      background: $linkColorHover;
      color: #fff;
      text-decoration: none;

      &:before {
        border-color: $linkColorHover;
        border-left-color: transparent;
      }

      &:after {
        border-left-color: $linkColorHover;
      }
    }
  }
}
