.bm-menu {
  background-color: #f12861;
  background-image: linear-gradient(to bottom, #fdef62 5%, #f12861 20%, #bc84bf 95%);
  padding-top: 0 !important;
  //top: auto;

  .bm-item-list {
    background: rgba(0, 0, 0, 0.12) !important;
    border-right: none !important;
    border-left: none !important;
    font-size: 15px;

    img.logo {
      padding-bottom: 20px !important;
      display: block;
      margin: 0 auto;
    }

    a {
      color: #fff !important;
    }

    .active {
      background-color: #7f5a83 !important;
    }

    .main-navigation-area, .has-sub-menu {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0 !important;
      max-height: calc(100vh - 150px);
      overflow-x: auto;

      li.main-menu {
        //margin: 0 -10px 0 -10px;

        a.link, li.sub-menu > a {
          display: block;
          font-size: 15px;
          text-transform: capitalize;
          width: 100%;
          padding: 12px;

          i {
            margin-top: -5px;
          }

          .has-sub-arrow-icon {
            font-size: 25px;
            font-weight: bolder;
            margin-top: 3px;
            position: absolute;
            right: 10px;
          }

          &.active {
            background-color: #7f5a83;
          }
        }
      }

      .sub-menu {
        .active {
          background-color: rgba(0, 0, 0, 0.12) !important;
        }
      }
    }

    .group-icons-bottom {
      width: 180px;
      bottom: 5px;
      position: absolute;
      display: inline-flex !important;
      justify-content: center !important;
      align-content: center !important;
    }
  }

  .bm-item-list > * {
    padding: 10px !important;
  }

  .bm-item-list a:hover {
    cursor: pointer !important;
  }


  .cross-style {
    top: 20px;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.bm-burger-button {
  z-index: 500 !important;
  height: 20px !important;
  left: 25px !important;
  top: 15px !important;
  width: 25px !important;
}

.bm-burger-bars {
  background: #ffffff !important;
}

.bm-item-list {
  margin-left: 0 !important;
}
